@import "tailwindcss";

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
  }
}

.font-khmer {
  font-family: 'Kantumruy Pro', sans-serif;
}

.font-mono-code {
  font-family: 'Fira Code', monospace;
}

/* High Density sleek scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #0d1117;
}

::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #484f58;
}

/* Prevent accidental text highlight while scrubbing / dragging */
.user-select-none {
  user-select: none;
  -webkit-user-select: none;
}
